tmp/
src/objfre*
src/objchk*
src/serial/objfre*
src/serial/objchk*
src/buildfre*
src/buildchk*
src/serial/buildfre*
src/serial/buildchk*
lib/c/examples/*.exe
bin/
htm/
lib/c/docs
*.exp
*.obj
*.lib
*.dll
*.bak
*.ilk
*.orig
*.pdb
*.zip*
__pycache__